/*
<copyright file="Testimonials.css" company="Sascha Manns">
@author: Sascha Manns, Sascha.Manns@outlook.de
@copyright: 2022, Sascha Manns, https://saschamanns.de

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
</copyright>
*/
.testimonial {
    padding: 70px 50px 50px;
    margin: 50px 50px 30px;
    border: 1px solid #007bff; /*#ea816b;*/
    position: relative;
}

    .testimonial .pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #014782; /*#c7373c;*/
        overflow: hidden;
        margin: 0 auto;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
    }

        .testimonial .pic img {
            width: 100%;
            height: auto;
        }

    .testimonial .description {
        font-size: 15px;
        color: #007bff;/*#5e595b;*/
        line-height: 27px;
        text-align: center;
        margin: 0;
        position: relative;
    }

        .testimonial .description:before {
            content: "\f10d";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 25px;
            color: #d7d7d7;
            position: absolute;
            top: 0;
            left: -2px;
        }

    .testimonial .title {
        display: inline-table;
        padding: 10px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #007bff; /*#ea816b;*/
        font-size: 20px;
        font-weight: 700;
        color: #014782; /*#c7373c;*/
        letter-spacing: 1px;
        text-transform: uppercase;
        position: absolute;
        bottom: -22px;
        left: 0;
        right: 0;
    }

    .testimonial .post {
        font-size: 15px;
        color: #007bff;/*#671a36;*/
    }

.owl-theme .owl-controls {
    width: 80%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 38%;
}

    .owl-theme .owl-controls .owl-buttons div {
        width: 50px;
        height: 50px;
        line-height: 40px;
        border-radius: 0;
        background: transparent;
    }

.owl-prev {
    position: absolute;
    left: -5%;
}

.owl-next {
    position: absolute;
    right: -5%;
}

    .owl-prev:after,
    .owl-next:after {
        content: "\f104";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 30px;
        color: #014782;
        opacity: 1;
    }

    .owl-next:after {
        content: "\f105";
    }
    /*479 px*/
@media only screen and (max-width: 390px) {
    .testimonial {
        padding: 70px 10px 30px;
    }

        .testimonial .description:before {
            top: -20px
        }

        .testimonial .title {
            font-size: 12px;
        }

        .testimonial .post {
            font-size: 11px;
        }
}
