@*
    Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
@{
    ViewBag.Title = _localizer["viewbag-title"];
    ViewBag.PageName = _localizer["viewbag-pagename"];
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";    
}
@using System.Net.Http
@using Newtonsoft.Json.Linq
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Mvc.Localization
@using MannsBlog.Models
@using MannsBlog.Views.Components;

@inject IConfiguration _config
@inject IViewLocalizer _localizer

@model ContactFormModel
@section styles {
    <link href="/css/contact.css" rel="stylesheet"/>            
    <style>
     .multiline{
        margin-top: 60px;
        width: 100%;
               }
    </style>
}

@section Scripts{
<script src="https://www.google.com/recaptcha/api.js?render=@_config["Google:CaptchaSiteId"]"></script>
<script>
    window.captchaId = '@_config["Google:CaptchaSiteId"]';
    window.addPrependResize = () => { var n = 0; $("label.equal-widths").each(function () { $(this).width() > n && (n = $(this).width()) }); $("label.equal-widths").width(n) }; window.addFadeOutSuccessAlert = () => { $(".alert-success").delay(3e3).fadeOut("slow") };
    $('#contactDiv').removeClass();

    runCaptcha = function (actionName) {
        return new Promise((resolve, reject) => {
            grecaptcha.ready(function () {
                grecaptcha.execute('@_config["Google:CaptchaSiteId"]', { action: 'submit' }).then(function (token) {
                    resolve(token);
                });
                console.log("google recaptcha loaded");
            });
        });
    };
</script>
<script src="_framework/blazor.server.js"></script>
@*<script src="~/js/recaptcha.js" asp-append-version="true"></script>*@
}

<div id="components-reconnect-modal" class="blazor-reconnect-modal components-reconnect-hide">
    <div class="show">
        <h5>Connection lost. Attempting to reconnect to server.</h5>
    </div>
    <div class="failed">
        <h5>Reconnect Failed</h5>
    </div>
    <div class="refused">
        <h5>
            Could not reconnect to the server.
            <a href="">Reload</a>
            the page to restore functionality.
        </h5>
    </div>
    <div class="rejected">
        <h5>
            Could not reconnect to the server.
            <a href="">Reload</a>
            the page to restore functionality.
        </h5>
    </div>
</div>
<section class="pt-2">
    <header class="mb-1 container pl-sm-0">
        <h2>Contact</h2>
    </header>
   @* <section class="container">
        It's best to reach me by sending an email through the form below.
    </section>*@
    <section class="container p-sm-0 mt-3">
        <noscript>You must enable JavaScript to use the contact form.</noscript>
        <div id="contactDiv" class="d-none">
            <component type="typeof(ContactComponent)" render-mode="ServerPrerendered" />
        </div>
    </section>
</section>