@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using MannsBlog.Models;
@inject MannsBlog.Services.DataProviders.CalendarProvider _appearances
@inject IViewLocalizer _localizer
@model BlogResult
@{
    ViewBag.Title = "Sascha Manns's Twilight Zone";
    ViewBag.PageName = "Sascha Manns";
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";
    ViewBag.ControllerName = "Root";

    string culture = CultureInfo.CurrentCulture.Name;
}
@*Search in all Stories*@
@foreach (var possiblestories in Model.Stories)
{
    @*Just view that stories, what matches our culture code*@
    if (possiblestories.Categories.Contains(culture))
    {
        <partial name="_StoryBrief" model="possiblestories" />
    }
}

@*@foreach (var story in Model.Stories)
{
    <partial name="_StoryBrief" model="story" />
}*@

<div class="row">
    <div class="col-lg-12">
        <partial name="_Pager" />
    </div>
</div>