@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject MannsBlog.Services.DataProviders.CalendarProvider _appearances
@inject IViewLocalizer _localizer
@model BlogResult
@{
    ViewBag.Title = "Sascha Manns's Twilight Zone";
    ViewBag.PageName = "Sascha Manns";
    ViewBag.PageBlurb = _localizer["viewbag-pageblurp"];
    ViewBag.PageImage = "/img/headers/code2.jpg";
    ViewBag.ControllerName = "Root";

    string culture = CultureInfo.CurrentCulture.Name;
}
@*Search in all Stories*@
@foreach (var possiblestories in Model.Stories)
{
    @*Just view that stories, what matches our culture code*@
    if (possiblestories.Categories.Contains(culture))
    {
        <partial name="_StoryBrief" model="possiblestories" />
    }
}

@*@foreach (var story in Model.Stories)
{
    <partial name="_StoryBrief" model="story" />
}*@

<div class="row">
    <div class="col-lg-12">
        <partial name="_Pager" />
    </div>
</div>