@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
<h3 class="widget-title">Feeds</h3>
<div class="textwidget custom-html-widget">
    <ul>
        <li>
            <a href="https://feeds.feedburner.com/saigkills-backtrace" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="https://feeds.feedburner.com/saigkills-backtrace" rel="alternate" type="application/rss+xml">Standardfeed (en)</a>
            <br />
            <a href="https://feeds.feedburner.com/saigkills-backtrace"> <img alt="" height="26" src="https://feeds.feedburner.com/~fc/saigkills-backtrace?bg=99CCFF&amp;fg=444444&amp;anim=0" style="border:0" width="88" /></a>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneDE" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneDE" rel="alternate" type="application/rss+xml">Standardfeed (de)</a>
            <br />
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneDE"><img src="http://feeds.feedburner.com/~fc/SaschaMannssTwilightZoneDE?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/SaschaMannssOpensourceDE" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="http://feeds.feedburner.com/SaschaMannssOpensourceDE" rel="alternate" type="application/rss+xml">Opensource (de)</a>
            <br />
            <a href="http://feeds.feedburner.com/SaschaMannssOpensourceDE"> <img alt="" height="26" src="http://feeds.feedburner.com/~fc/SaschaMannssOpensourceDE?bg=99CCFF&amp;fg=444444&amp;anim=0" style="border:0" width="88" /></a>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneOpensource" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneOpensource" rel="alternate" type="application/rss+xml">Opensource (en)</a>
            <br />
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneOpensource"><img src="http://feeds.feedburner.com/~fc/SaschaMannssTwilightZoneOpensource?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border: 0" alt="" /></a>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneLinux" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneLinux" rel="alternate" type="application/rss+xml">Linux (all langs)</a>
            <br />
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneLinux"><img src="http://feeds.feedburner.com/~fc/SaschaMannssTwilightZoneLinux?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border: 0" alt="" /></a>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneWindows" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneWindows" rel="alternate" type="application/rss+xml">Windows (all langs)</a>
            <br />
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneWindows"><img src="http://feeds.feedburner.com/~fc/SaschaMannssTwilightZoneWindows?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border: 0" alt="" /></a>
        </li>
        <li>
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneDotNetCore" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneDotNetCore" rel="alternate" type="application/rss+xml">DotNetCore (all langs)</a>
            <br />
            <a href="http://feeds.feedburner.com/SaschaMannssTwilightZoneDotNetCore"><img src="http://feeds.feedburner.com/~fc/SaschaMannssTwilightZoneDotNetCore?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
        </li>
    </ul>
</div>