@*
Copyright (C) 2021 Sascha Manns <Sascha.Manns@outlook.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*@
<h3 class="widget-title" style="text-align: center;">Feeds</h3>
<div class="textwidget custom-html-widget">
    <ul>
        <li>
            <a href="https://saschamanns.de/feed" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/feed" rel="alternate" type="application/rss+xml">Standardfeed (en)</a>
        </li>
        <li>
            <a href="https://saschamanns.de/feed-de" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/feed-de" rel="alternate" type="application/rss+xml">Standardfeed (de)</a>
        </li>
        <li>
            <a href="https://saschamanns.de/opensource-de" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/opensource-de" rel="alternate" type="application/rss+xml">Opensource (de)</a>
        </li>
        <li>
            <a href="https://saschamanns.de/opensource" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/opensource" rel="alternate" type="application/rss+xml">Opensource (en)</a>
        </li>
        <li>
            <a href="https://saschamanns.de/linux" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/linux" rel="alternate" type="application/rss+xml">Linux (all langs)</a>
        </li>
        <li>
            <a href="https://saschamanns.de/windows" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/windows" rel="alternate" type="application/rss+xml">Windows (all langs)</a>
        </li>
        <li>
            <a href="https://saschamanns.de/dotnetcore" rel="alternate" type="application/rss+xml"> <img alt="" src="https://i0.wp.com/feedburner.google.com/fb/images/pub/feed-icon16x16.png?w=676" style="vertical-align:middle;border:0" data-recalc-dims="1" /></a>&nbsp;
            <a style="color: #BBBBBB;" href="https://saschamanns.de/dotnetcore" rel="alternate" type="application/rss+xml">DotNetCore (all langs)</a>
        </li>
    </ul>
</div>