@*
MIT License

Copyright (c) 2022 Sascha Manns

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*@
<h3 class="center-align">Syndication</h3>
<ul>
    <li><a href="http://www.netvibes.com/subscribe.php?url=https://saschamanns.de/feed" rel="noopener" target="_blank"><img border="0" align="left" alt="add2netvibes" src="~/img/badges/add2netvibes.gif" /></a></li>
    <li><a href="http://add.my.yahoo.com/rss?url=https://saschamanns.de/feed" rel="noopener" target="_blank"><img border="0" align="left" alt="add2yahoo" src="~/img/badges/addyahoo.gif" /></a></li>
    <li><a href="http://www.blogarama.com/technology-blogs/1309429-blog/" target="_blank" rel="noopener"><img src="http://www.blogarama.com/images/button_sm_1.gif" alt="Follow me on Blogarama" /></a></li>
    <li><a href="https://www.bloggerei.de" target="_blank" rel="noopener"><img src="https://www.bloggerei.de/bgpublicon.jpg" width="80" height="15" border="0" alt="Blogverzeichnis - Bloggerei.de" /></a></li>
    <li><a href="https://www.bloggingfusion.com/" target="_blank" rel="noopener"><img src="https://www.bloggingfusion.com/images/linkware/bloggingfusion80x153.gif" alt="Blogging Fusion Blog Directory" style="border: 0;" /></a></li>
    <li><a href="https://www.bloggeramt.de" title="Blog" target="_blank" rel="noopener"><img src="https://www.bloggeramt.de/images/blog_button1.gif" style="border: 0;" alt="Blogverzeichnis" /></a></li>
    <li>
        <!-- TopBlogs.de das Original - Blogverzeichnis | Blog Top Liste -->
        <a href="https://www.topblogs.de/" target="_blank" rel="noopener"><img border="0" src="https://www.topblogs.de/tracker.php?do=in&id=11089" alt="TopBlogs.de das Original - Blogverzeichnis | Blog Top Liste" /></a>
        <!-- /TopBlogs.de das Original - Blogverzeichnis | Blog Top Liste -->
    </li>
    <li><a href="https://www.ontoplist.com/blogs/saigkills-backtrace_5b0f0088673d1/" target="_blank" rel="noopener"><img src="https://www.ontoplist.com/images/ontoplist31.png?id=5b0f0088673d1" alt="Sascha Mannss Twilight Zone - OnToplist.com" border="0"></a></li>
</ul>